html
{
font-family:  serif;
font-family: "Times New Roman", Times, serif;
}
head
{
border-radius: 1px;
background-color: b8b8b8;
border-bottom: grey;
}
h1
{
text-align: center;
font-size: 2.5em;
color: #2855BE;
}
.selecteur
{
text-align: center;
border-style: solid;
text-decoration: none;
position: relative;
color: black;
background-color: #b3ffd9;
font-size: 1.5em;
border-radius: 5px;
}
footer
{
bottom: 0;
position: relative;

}
li
{
border-radius: 1px;
list-style-type:circle;
text-decoration: none;
color: black;
text-align: center;
font-size: auto;
left: 12em;
}
a:visited
{
color: red;
}
nav
{
position: fixed;
left: 0;
bottom: 50%;
}
nav.li
{
list-style: none;
}
